{
    "propel": {
        "paths": {
            "schemaDir": "\/home\/lexo\/Documents\/Projects\/AnimeGT\/api",
            "phpDir": "\/home\/lexo\/Documents\/Projects\/AnimeGT\/api"
        }
    }
}